.desk {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  &__playerContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__remainCards {
    border-radius: 8px;
    border: solid white 1px;
    height: 50px;
    padding: 8px;
    background-color: purple;
    text-align: center;
    color: white;
  }
  &__Buttons {
    display: flex;
    gap: 8px;
  }
}
